@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

.pokemon-metadata {
  background: antiquewhite;
  border-radius: 20px;
  padding: 5px;
  opacity: 0.9;
}

.pokemon-name {
  background-color: black;
  border-radius: 20px;
  text-align: center;
  width:200px;
}